<div class="ui fixed inverted borderless pointing menu">
      <a href="#" class="item">
        <img class="logo" src="assets/contract.png"> &nbsp;Operational Contract BC
        <div class="item" *ngIf="authService.isAuthenticated()">currently logged as {{authService.getRoles()}}</div>
      </a>
      <div class="right menu">
      	  <div class="item" *ngIf="authService.isAuthenticated()"> <a class="ui button" (click)="logout()"><small>Log out</small></a> </div>
    </div>
</div>

<!-- LOGIN BLOCK -->
<div style="margin-top: 5em;" *ngIf="!authService.isAuthenticated()">

<div class="ui middle aligned center aligned grid">
  <div class="column" style="width:600px;">
    <h2 class="ui teal header">
      <div class="content">
        Log in to your account
      </div>
    </h2>
    <form class="ui large form">
	<div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input #boxAccount type="text" name="account" placeholder="your account or your email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input #boxKey type="password" name="key" placeholder="your key">
          </div>
        </div>
        <div class="ui large teal submit button" (click)="login(boxAccount.value,boxKey.value)">Login</div>

	</div>
    </form>
    <div>{{loginStatus}}</div>

  </div>
</div>

</div>

<!--
<div class="ui inverted blue segment">
<div class="ui fluid input">
  <input #boxAccount type="text" placeholder="your account">
  <input #boxKey type="text" placeholder="your key">
</div>
<a class="ui button" (click)="login(boxAccount.value,boxKey.value)"><small>Login</small></a>
</div>
</div>
-->

<!-- PAGE CONTENT BLOCK -->
<div style="margin-top: 5em;" *ngIf="authService.isAuthenticated()">

<div class="ui inverted violet segment">
<!--
<h3>Node information</h3>
Default account on the node: <i>{{defaultAccount}}</i><br>
Total number of accounts: <i>{{accounts.length}}</i><br>
Current Block Number: <i>{{blockNumber}}</i><br>
-->

<sui-accordion [closeOthers]="false">
    <sui-accordion-panel [isOpen]="false">
        <div title>
            <i class="dropdown icon"></i>
            Blockchain Node information 
        </div>
        <div content>
            <pre>Default account on the node: <i>{{defaultAccount}}</i><br></pre>
            <pre>Total number of accounts: <i>{{accounts.length}}</i><br></pre>
            <pre>Current Block Number: <i>{{blockNumber}}</i><br></pre>
        </div>
    </sui-accordion-panel>
</sui-accordion>

<div style="line-height: 8px;">
<pre><font size="4">Buyer Compagny	: <i> AIRBUS</i></font><br></pre>
<pre><font size="4">Vendor Compagny	: <i> ACE AERONAUTIQUE</i></font><br></pre>
<pre><font size="4">Vendor code 	: <i> 293318</i></font><br></pre>
</div>

<!--
<table class="ui small celled table">
  <tbody>
   <tr *ngFor="let account of accounts$ | async; let i = index">
    <td>{{account}}</td>
   </tr>
  </tbody>
</table>
-->
</div>

<!--
  -----------------------------------------------------------------------------
    I am a supplier
  -----------------------------------------------------------------------------
-->
<div class="item" *ngIf="authService.getRoles() === 'supplier'"> 
<h3>List of  Contracts</h3>
<table class="ui small celled table">
  <thead>
  <tr><th>Agreement</th>
    <th>Agreement Date</th>
    <th>Validity Start</th>
    <th>Validity End</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let oc of opContracts ; let i = index">
    <td>{{oc.agreement}}</td><td>{{oc.agreementDate}}</td> <td>{{oc.validityStart}}</td><td>{{oc.validityEnd}}</td><td>{{oc.status}}</td>
    <td>
      <button [disabled]="oc.status != 'VALIDATED'" (click)="update()" class="tiny positive ui button">Update</button>
    </td>
   </tr>
  </tbody>
</table>

<h3>Contract Header</h3>

<table class="ui small celled table">
  <thead>
  <tr><th>Payment Term</th>
    <th>Currency</th>
    <th>Incoterms</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let oc of opContracts ; let i = index">
    <td>{{oc.paymentTerm}}</td><td>{{oc.currency}}</td> <td>{{oc.incoterms}}
   </tr>
  </tbody>
</table>

<h3>Contract Items</h3>
<table class="ui small celled table">
  <thead>
  <tr><th>Agreement Item</th>
    <th>Material</th>
    <th>Material Group</th>
    <th>Description</th>
    <th>valid From</th>
    <th>Valid To</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Order Unit</th>
    <th>Order Price Unit</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let oc of opContracts ; let i = index">
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.agreementItem}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.material}}</td> 
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.materialGroup}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.description}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.validFrom}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.validTo}}</td>
    <td *ngIf="oc.status == 'VALIDATED'"><input type='text' #newamount value={{oc.amount}} (keyup.enter)="changeAmount(newamount.value)"></td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.currency}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.orderUnit}}</td>
    <td *ngIf="oc.status == 'VALIDATED'">{{oc.orderPriceUnit}}</td>
   </tr>
  </tbody>
</table>

</div>

<!--
  -----------------------------------------------------------------------------
    I am a customer
  -----------------------------------------------------------------------------
-->
<div class="item" *ngIf="authService.getRoles() === 'customer'">
<h3>List of  Contracts</h3>
<table class="ui small celled table">
  <thead>
  <tr><th>Agreement</th>
    <th>Agreement Date</th>
    <th>Validity Start</th>
    <th>Validity End</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let oc of opContracts ; let i = index">
    <td>{{oc.agreement}}</td><td>{{oc.agreementDate}}</td> <td>{{oc.validityStart}}</td><td>{{oc.validityEnd}}</td><td>{{oc.status}}</td>
    <td>
      <button [disabled]="oc.status == 'VALIDATED'" (click)="validate()" class="tiny positive ui button">Validate</button>
      <button [disabled]="oc.status == 'VALIDATED'" (click)="supplierRejectPO(po.poID)" class="tiny negative ui button">Reject</button>
    </td>
   </tr>
  </tbody>
</table>
<h3>Contract Header</h3>
<table class="ui small celled table">
  <thead>
  <tr><th>Payment Term</th>
    <th>Currency</th>
    <th>Incoterms</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let oc of opContracts ; let i = index">
    <td>{{oc.paymentTerm}}</td><td>{{oc.currency}}</td> <td>{{oc.incoterms}}
   </tr>
  </tbody>
</table>
<h3>Contract Items</h3>
<!-- Current contract Item line : VALIDATED -->
<table class="ui small celled table">
  <thead>
  <tr><th>Agreement Item</th>
    <th>Material</th>
    <th>Material Group</th>
    <th>Description</th>
    <th>valid From</th>
    <th>Valid To</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Order Unit</th>
    <th>Order Price Unit</th>
  </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-oc [ngForOf]="opContracts" let-i="index">
    <tr>
    <td>{{oc.agreementItem}}</td><td>{{oc.material}}</td> <td>{{oc.materialGroup}}</td><td>{{oc.description}}</td><td>{{oc.validFrom}}</td>
    <td>{{oc.validTo}}</td><td>{{oc.amount}}</td><td>{{oc.currency}}</td><td>{{oc.orderUnit}}</td><td>{{oc.orderPriceUnit}}</td>
    </tr>
      <tr *ngIf="oc.status != 'VALIDATED'">
      <td>{{oc.upd_agreementItem}}</td><td>{{oc.upd_material}}</td> <td>{{oc.upd_materialGroup}}</td><td>{{oc.upd_description}}</td><td>{{oc.upd_validFrom}}</td>
      <td>{{oc.upd_validTo}}</td><td>{{oc.upd_amount}}</td><td>{{oc.upd_currency}}</td><td>{{oc.upd_orderUnit}}</td><td>{{oc.upd_orderPriceUnit}}</td>
      </tr>
   </ng-template>
  </tbody>
</table>

</div>
